<header class='container-fluid bg-light mb-5'>
    <h1>Bus ticket</h1>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div style='width: 100%'>
            <div class='form-row'>
                <div class='col-12 col-md-3 mb-3 px-3'>
                    <select #source class="form-control">
                        <option selected>Choose dep...</option>
                        <option *ngFor="let state of states">{{state}}</option>
                    </select>
                </div>
                <div class='col-12 col-md-3 mb-3 px-3'>
                    <select #dest class="form-control">
                        <option selected>Choose dest...</option>
                        <option *ngFor="let state of states">{{state}}</option>
                    </select>
                </div>
                <div class='col-12 col-md-2 mb-3  px-3'>
                    <input #dateSt type="date" class="form-control">
                </div>
                <div class='col-12 col-md-2 mb-3 px-3'>
                    <input #dateEn type="date" class="form-control">
                </div>
                <div class='col-12 col-md-2 text-right'>
                    <button type="submit" class="btn btn-orange" (click)="search({source: source.value, dest: dest.value, dateSt: dateSt.value, dateEn: dateEn.value})">Search</button>
                </div>
            </div>
        </div>
    </nav>
</header>