<div class='container-fluid mb-5'>
    <nav aria-label="...">
        <ul class="list-group list-group-horizontal row">
            <li class='list-group-item text-center col'>
                <button (click)="prev()">
                    <img src="\assets\chevron-double-left.svg">
                </button>
                <div>
                    Last&#160;7
                </div>
            </li>
            <li class="list-group-item col" *ngFor='let i of date'>
                <app-box [info]="i"></app-box>
            </li>
            <li class='list-group-item text-center col'>
                <button (click)="next()">
                    <img src= "\assets\chevron-double-right.svg">
                </button>
                <div>
                    Next&#160;7
                </div>
            </li>
        </ul>
    </nav>
</div>